/**
 * NICO NICO DOUGA
 */

/* nico-douga logo
------------------------------ */
.is-shinji-mode #header h1 a {
	background: url('chrome-extension://__MSG_@@extension_id__/img/website/nico-douga/logo.png') no-repeat 0 0;
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
}

/* today_event サムネイル */
.is-shinji-mode #today_contents_wrap .event_image {
	display: block;
	width: 169px;
	height: 90px;
	background: url('chrome-extension://__MSG_@@extension_id__/img/shinji.png') no-repeat 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
}
.is-shinji-mode #today_contents_wrap .event_image img {
	display: none !important;
}

/* today_banner */
.is-shinji-mode #today_contents_wrap .today_banner > a {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 390px;
	height: 145px;
	background: url('chrome-extension://__MSG_@@extension_id__/img/shinji.png') no-repeat 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
}
.is-shinji-mode #today_contents_wrap .today_banner img {
	display: none;	
}

/* 話題の動画 */
.is-shinji-mode .simple_frame#hotVideo .listWrap ul li a.VideoThumb {
	background: url('chrome-extension://__MSG_@@extension_id__/img/shinji.png') no-repeat 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
}
.is-shinji-mode .simple_frame.videoListLsize .listWrap ul li a img {
	display: none;
}


/* video_top
------------------------------ */
.is-shinji-mode .siteHeader .pageLogo .logo a {
	background: url('chrome-extension://__MSG_@@extension_id__/img/website/nico-douga/logo-s.png') no-repeat 50% 50%;
}
.is-shinji-mode .siteHeader .hidariue {
	display: block;
	width: 52px;
	height: 48px;
	background: url('chrome-extension://__MSG_@@extension_id__/img/website/nico-douga/hidariue.gif') no-repeat;
}
.is-shinji-mode .siteHeader .hidariue img {
	display: none;
}

/* 動画トップのサムネを全部シンジーに */
.is-shinji-mode .video .itemThumb {
	background: url('chrome-extension://__MSG_@@extension_id__/img/shinji.png') no-repeat 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
}
.is-shinji-mode .video .itemThumb .itemThumbWrap img {
	display: none;
}

/* 右カラムの動画ランキング */
.is-shinji-mode .videoRcolumn .itemThumb {
	background: url('chrome-extension://__MSG_@@extension_id__/img/shinji.png') no-repeat 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
}
.is-shinji-mode .videoRcolumn .itemThumb .itemThumbWrap img {
	display: none;
}





/**
 * NICO NICO LIVE
 */

/* nico-live logo */
.is-shinji-mode #live_header .logo a {
	background: url('chrome-extension://__MSG_@@extension_id__/img/website/nico-live/logo.png') no-repeat 0 50%;
}

.is-shinji-mode .live_list .item_player {
	background: url('chrome-extension://__MSG_@@extension_id__/img/shinji.png') no-repeat 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
}
.is-shinji-mode .live_list .item_player embed {
	display: none;
}
.is-shinji-mode .onair-picup-programlist-block .live_list .item_thumb {
	height: 160px;
	background: url('chrome-extension://__MSG_@@extension_id__/img/shinji.png') no-repeat 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
}

.is-shinji-mode .live_list .item_thumb {
	height: 110px;
	background: url('chrome-extension://__MSG_@@extension_id__/img/shinji.png') no-repeat 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
}
.is-shinji-mode .live_list .item_thumb img {
	display: none !important;
}

.is-shinji-mode .onair-programlist-block .live_list .item_thumb {
	height: 97px;
	background: url('chrome-extension://__MSG_@@extension_id__/img/shinji.png') no-repeat 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
}

.is-shinji-mode #users_area .live_list .item_thumb {
	height: 110px;
	background: url('chrome-extension://__MSG_@@extension_id__/img/shinji.png') no-repeat 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
}
.is-shinji-mode #users_area .live_list .item_thumb img {
	display: none;
}


/* カテゴリー内の各放送のサムネイル */
ul.user-programs > li a::before {
	content: '';
	display: block;
	width: 64px;
	height: 64px;
	position: absolute;
	top: 5px;
	left: 5px;
	background: url('chrome-extension://__MSG_@@extension_id__/img/shinji.png') no-repeat 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
}
ul.user-programs > li img {
	/* display: none; */

}
	
}
